[submodule "atmos_cubed_sphere"]
	path = atmos_cubed_sphere
	url = https://github.com/NOAA-GSD/GFDL_atmos_cubed_sphere
	branch = gsd/develop
[submodule "ccpp/framework"]
	path = ccpp/framework
	url = https://github.com/NOAA-GSL/ccpp-framework
	branch = gsl/develop
[submodule "ccpp/physics"]
	path = ccpp/physics
	url = https://github.com/NOAA-GSL/ccpp-physics
	branch = feature/new_dev_radar_tten
